-- Migration to add PII fields to staff table
ALTER TABLE public.staff ADD COLUMN IF NOT EXISTS ssn TEXT;
ALTER TABLE public.staff ADD COLUMN IF NOT EXISTS dob TEXT;
ALTER TABLE public.staff ADD COLUMN IF NOT EXISTS address TEXT;
ALTER TABLE public.staff ADD COLUMN IF NOT EXISTS email TEXT;
ALTER TABLE public.staff ADD COLUMN IF NOT EXISTS phone TEXT;
